
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
    padding-bottom: 90px;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }

  &__share {
    border-top: 1px solid #e6e6e6;
    padding: 50px 0 80px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}


.main-container {
  @include container;
}

.page-header-top {
  border-bottom: 1px solid $border-color;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mn-nav {
  display: none;
  align-items: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 30px;

    li {

      &:not(:first-child) {
        margin-left: 10px;;
      }

      a {
        color: #000;
        display: block;
        text-decoration: none;
        padding: 20px 11px;
        font-size: 16px;
        transition: all $transition-time;

        &:hover {
          background: $border-color;
        }

        @media (max-width: ($screen-xl - 1)) {
          font-size: 13px;
          padding: 20px 5px;
        }
      }
    }
  }

  @media (min-width: $menu-desktop-width) {
    display: flex;
  }
}

.footer-nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.product-section {
  border-bottom: 1px solid #dbdbdb;
  padding: 30px 0;

  &:last-child {
    border-bottom: none;
  }

  &__header {
    margin-top: 20px;
    margin-bottom: 40px;

    h2 {
      margin: 0;
      display: flex;

      @media (max-width: $screen-md) {
        font-size: 18px;
      }

      .more-link {
        margin-left: auto;
      }
    }
  }
}

.faq-link {
  margin: 5px;
  width: 25px;
  height: 25px;

  .icon {
    fill: #c3c3c3;
  }
}

.page-title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;

  @media (min-width: $screen-md) {
     font-size:  2.25em;
  }
}

.price-category {
  background: #ebeef2;
  padding: 10px;

  @media (min-width: $screen-md) {
    padding: 30px;
    display: flex;
    align-items: center;
  }

  &__body {
    flex-grow: 1;

    @media (max-width: $screen-md) {
      margin-bottom: 15px;
    }

    h2 {
      margin: 0;

      @media (max-width: $screen-md) {
        font-size: 18px;
      }
    }

    p {
      color: #7b8592;
      font-family: 'Rubik';
      font-weight: 100;
      margin: 0;

      @media (max-width: $screen-md) {
        font-size: 14px;

        span {
          display: block;
        }
      }
    }
  }

  &__more {

    a {
      @media (max-width: $screen-md) {
        background: darken(#ebeef2, 10%);
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

  }
}

.add-basket {
  display: flex;
  border-radius: 6px;
  overflow: hidden;

  .btn {
    font-size: 14px;
    font-family: 'Rubik';
    font-weight: 400;
    border-radius: 0;
    padding: 0.7em;
  }
  //
  // .incr {
  //   border-top-right-radius: 6px;
  //   border-bottom-right-radius: 6px;
  //   border-right: 6px;
  // }

}

.price-delivery {
  font-size: 16px;
  font-weight: 600;
}

.price-pickup {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;

  .btn-icon {
    width: 30px;
    height: 30px;
  }

  .icon {
    fill: $color-main;
  }
}
