
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
    padding-bottom: 90px;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }

  &__share {
    border-top: 1px solid #e6e6e6;
    padding: 50px 0 80px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}


.main-container {
  @include container;
}

.page-header-top {
  border-bottom: 1px solid $border-color;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mn-nav {
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 30px;

    li {

      &:not(:first-child) {
        margin-left: 10px;;
      }

      a {
        color: #000;
        display: block;
        text-decoration: none;
        padding: 20px 11px;
        font-size: 16px;
        transition: all $transition-time;

        &:hover {
          background: $border-color;
        }
      }
    }
  }
}

.sn-nav {

  padding: 10px;
  background: #f7f3ed;
  margin-bottom: 20px;
  border-radius: $border-radius;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {

      &:not(:first-child) {
        margin-left: 10px;;
      }

      a {
        color: #000;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 20px 11px;
        font-size: 16px;
        font-family: $font-family--headings;
        font-weight: 500;
        border-radius: 6px;
        transition: all $transition-time;

        .icon {
          width: 35px;
          height: 35px;
          fill: #13b135;
          margin-right: 10px;
        }

        &:hover {
          background: darken(#f7f3ed, 3%);
        }
      }
    }
  }
}

.footer-nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.footer-subscribe {
  border-top: 1px solid #ccbca6;
  min-width: 877px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}

.about {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px 0;

  &__wrap {
    @include col();
    @include col(lg, 7);
  }
}

.product-section {
  border-bottom: 1px solid #dbdbdb;
  padding: 30px 0;

  &__header {


    h2 {
      margin-top: 0;
      display: flex;

      .more-link {
        margin-left: auto;
      }
    }
  }
}

.faq-link {
  margin: 5px;
  width: 25px;
  height: 25px;

  .icon {
    fill: #c3c3c3;
  }
}

.layout-catalog {
  @include row;

  &__aside {
    @include col();
    @include col(lg, 3);
  }
  &__main {
    @include col();
    @include col(lg, 9);
  }
}

.catalog-cards {
  @include row;

  .product-card {
    @include col();
    @include col(lg, 4);
  }
}

.catalog-nav {

  list-style: none;
  padding-left: 0;
  margin: 0;
  font-family: 'Rubik';
  font-size: 16px;

  > li {
    border-bottom: 1px solid $border-color;

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 15px 0;

      li {
        margin: 4px 0;
        a {
          text-decoration: none;
          padding: 0.4em 0;
          display: block;
        }
      }
    }

    > span,
    > a {
      padding: 1em 2em 1em 0;
      display: block;
      cursor: pointer;
    }

    span {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 2px;
        top: 1.3em;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #31353f;
        border-right: 2px solid #31353f;
        transform: rotate(45deg);
      }
    }

    &.active {
      span {
        font-weight: 500;

        &:after {
          transform: rotate(225deg);
        }
      }
    }
  }
}

.page-title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.filter {
  display: flex;

  &__part {
    margin-right: 30px;
  }
}

.price-category {
  background: #ebeef2;
  padding: 30px;
  display: flex;
  align-items: center;

  &__body {
    flex-grow: 1;

    h2 {
      margin: 0;
    }

    p {
      color: #7b8592;
      font-family: 'Rubik';
      font-weight: 100;
      margin: 0;
    }
  }
}

.add-basket {
  display: flex;
  border-radius: 6px;
  overflow: hidden;

  .btn {
    border-radius: 0;
    padding: 0.7em;
  }
  //
  // .incr {
  //   border-top-right-radius: 6px;
  //   border-bottom-right-radius: 6px;
  //   border-right: 6px;
  // }

}
