// В этом файле должны быть стили для БЭМ-блока incr, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.incr {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  background: #077e27;
  color: #fff;
  align-items: center;

  &__val {
    padding: 0.5em;
    min-width: 45px;
    max-width: 50px;
    text-align: center;

    touch-action: manipulation;
    background: transparent;
    font-size: 1em;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    border: none;
    appearance: textfield;
    outline: none;
  }

  &__nav {
    padding: 0.6em 0.7em;
    cursor: pointer;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);

    &:hover,
    &:focus {
      background: darken(#077e27, 5%);
    }
  }

  &--basket {
    background: #e8e8e8;
    overflow: hidden;
    color: #000;
    border-radius: 6px;

    #{$block-name}__val {
      color: #000;
    }

    #{$block-name}__nav {
      color: #a7a7a7;

      &:hover,
      &:focus {
        background: darken(#e8e8e8, 5%);
      }
    }
  }

}
