// В этом файле должны быть стили для БЭМ-блока reviews, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.reviews {

  $block-name:                &; // #{$block-name}__element

  &__wrap {
    margin-bottom: 30px;
  }

  &__item {
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0;

    &:first-child {
      padding-top: 0;
    }
  }

  &__title {
    font-size: 18px;
    margin: 0;
  }

  &__date {
    font-size: 14px;
    color: #a8a8a8;
  }

  &__rate {
    margin: 10px 0;
  }

}
