// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  &__call {
    display: none;

    @media (min-width: $menu-desktop-width) {
      display: block;
    }
  }

  &__call-num {

    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;

    .icon {
      position: absolute;
      left: 0;
      top: 3px;
      fill: #bcbcbc;
    }
  }

  &__call-order {
    color: $color-main;
    text-decoration: none;
    font-size: 14px;
  }

  &__auth {
    display: none;

    a {
      padding: 0.4em 0.7em;
    }

    @media (max-width: ($screen-xl - 1)) {
      font-size: 13px;

      a {
        padding: 0.4em 0.4em;
      }
    }

    @media (min-width: $menu-desktop-width) {
      display: block;
    }
  }

  &__btn-group {
    display: none;

    .btn-icon {
      margin: 0 4px;
      background: transparent;

      .label {
        display: none;
      }

      &.added {

        .icon {
          fill: #000;
        }
        .label {
          display: block;
        }
      }
    }

    @media (min-width: $menu-desktop-width) {
      display: flex;
    }

  }

  .header-basket {
    background-color: $color-main;
    color: #fff;
    align-items: center;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    text-decoration: none;
    display: none;

    &__wrap {
      padding: 0.6em 1.4em;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      @media (max-width: ($screen-xl - 1)) {
        padding: 0.6em 1em;
      }

      .icon {
        fill: #fff;
        align-items: center;
        margin-right: 8px;

        @media (max-width: ($screen-xl - 1)) {
          margin-right: 0;
        }
      }
    }

    &__text {

      @media (max-width: ($screen-xl - 1)) {
        display: none;
      }
    }

    &__count {
      background-color: darken($color-main, 6%);
      flex-grow: 1;
      height: 100%;
      padding: 0.6em 1.4em;
      vertical-align: middle;
    }
    
    @media (min-width: $menu-desktop-width) {
      display: flex;
    }
  }

  &__search {
    max-width: 195px;
  }
}
