// В этом файле должны быть стил�� только для БЭМ-блока btn-icon, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.btn-icon {

  $block-name:                &;

  position: relative;

  svg {
    fill: #c3c3c3;
    transition: fill $transition-time;
  }

  &:hover,
  &:focus {

    svg {
      fill: #000;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .label {
    background: #ed162b;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 0.2em 0.6em;
    position: absolute;
    right: -4px;
    border-radius: 3px;
    font-weight: 400;
    top: 4px;
  }

  &--active {

    svg {
      fill: $color-main;
    }
  }

  &--single {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    // border: 1px solid $gray-lightest;
    border-radius: $border-radius;
    outline: none;
    color: currentColor;
    cursor: pointer;
  }

  &--real-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    // border: 1px solid $gray-lightest;
    border-radius: $border-radius;
    outline: none;
    color: currentColor;
    cursor: pointer;
  }

  &--add-text {
    min-width: 40px;
    height: 25px;
    width: auto;

    svg {
      width: 22px;
      margin: 0 9px;
    }

    #{$block-name}__text {
      display: block;
      position: static;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      white-space: nowrap;

      @media (max-width: $screen-sm) {
        font-size: 10px;
      }
    }
  }

  &--show-add-text {

    #{$block-name}__text {
      display: block;
    }
  }
}
