// В этом файле должны быть стили для БЭМ-блока compare, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.compare {

  $block-name:                &; // #{$block-name}__element

  &__table {
    font-family: 'Rubik';
  }

  &__table-item {
    border-bottom: 1px solid $border-color;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }

  &__table-title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__table-wrap {
    @include row;
  }
  &__table-part {
    @include col();
    @include col(lg, 3);
  }

}

.compare-carousel {
  .product-card {
    max-width: 287px;
  }
}
