// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.tabs {

  $block-name:                &; // #{$block-name}__element

  margin-top: $line-height;
  margin-bottom: $line-height;

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    cursor: pointer;

    .no-js & {
      display: none;
    }
  }

  &__link-wrap {
    position: relative;
    flex-grow: 1;
    border: 1px solid $border-color;

    // &:not(:last-child) {
    //   border-right: none;
    // }

    &--active {
      border-color: $color-main;

      #{$block-name}__link {
        color: $color-main;
        background-color: #fff;
      }
    }
  }

  &__link {
    display: block;
    text-align: center;
    padding: $field-padding-vertical $field-padding-horizontal;
    color: $text-color;
    text-decoration: none;
    background-color: #f3f3f3;

    &:hover,
    &:focus {
      color: $text-color--muted;
    }
  }

  &__content-wrapper {
    display: block;
    margin: 40px 0;
  }

  &__content-item {

    .js & {
      display: none;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }

  &--carousel {

    .tabs__content-item {
      display: block !important;
      height: 0px;
      overflow: hidden;
    }

    .tabs__content-item--active {
      display: block !important;
      height: auto;
      overflow: visible;
    }

    margin-top: 0;

    #{$block-name}__links {
      @media (min-width: $screen-lg) {
        margin-bottom: 60px;
        margin-top: -78px;
      }
    }

    #{$block-name}__link {
      background-color: #fff;

      @media (max-width: $screen-md) {
        background-color: #d9d9d9;
      }

      @media (max-width: $screen-sm) {
        font-size: 14px;
        text-align: left;
      }

      .icon {
        vertical-align: middle;
      }
    }

    #{$block-name}__link-wrap {
      position: relative;
      flex-grow: 1;
      border: none;
      border-top: 1px solid #d9d9d9;

      @media (max-width: $screen-md) {
        max-width: 50%;
        flex-basis: 50%;
      }

      @media (min-width: $screen-md) {
        &:first-child {
          border-right: 0;
          border-left: 1px solid #d9d9d9;
          border-top-left-radius: 6px;
          overflow: hidden;
        }
        &:last-child {
          border-left: 0;
          border-right: 1px solid #d9d9d9;
          border-top-right-radius: 6px;
          overflow: hidden;
        }
      }

      &--active {
        border-color: #e42525;

        #{$block-name}__link {
          color: #fff;
          background-color: #e42525;

          .icon {
            fill: #fff;
          }
        }
      }
    }
  }
}
