// В этом файле должны быть стили для БЭМ-блока table-price-category, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.table-price-category {

  $block-name:                &; // #{$block-name}__element

  border: none;
  margin-top: 0;

  td:not(:first-child),
  th:not(:first-child) {
    border-left: 0;
  }

  th {
    border-bottom: none;
    padding: 1.4em 0;
  }

  td {
    padding: 1.4em 0;
  }

  tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }

}
