// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {

  $block-name:                &; // #{$block-name}__element

  &__wrap {
    @include row;

    &--top {
      margin: 0;
    }
  }

  &__media {
    min-width: 50%;
    flex-basis: 50%;
  }

  &__col {
    @include col();
    @include col(lg, 6);
  }

  &__form {
    .field-text,
    .field-actions {
      max-width: 70%;
    }
    .field-text--textarea {
      max-width: 100%;
    }
  }
}
