// В этом файле должны быть стили для БЭМ-блока subs-informer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.subs-informer {

  $block-name:                &; // #{$block-name}__element

  background: #f7f3ed;
  font-family: 'Rubik';
  padding: 15px;
  margin-bottom: 20px;

  @media (min-width: $screen-lg) {
    display: flex;
    padding: 30px;
    margin-bottom: 40px;
  }

  &__body {

    margin-right: 30px;

    h2 {
      font-size: 30px;
    }

    h2,p {
      margin: 0;
    }

    p {
      color: #908677;
      font-weight: 300;
    }

    @media (max-width: $screen-md) {

      h2 {
        font-size: 24px;
      }
    }
  }
  &__more {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

    a {
      margin: 3px 10px;

      @media (max-width: $screen-md) {
        margin-left: 0;
        font-size: 14px;
      }
    }
  }

}
