// В этом файле должны быть стили для БЭМ-блока layout-basket, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout-basket {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }

  &__main {
    @include col();
    @include col(xl, 8);
    margin-bottom: 20px;
  }

  &__aside {
    @include col();
    @include col(xl, 4);
    margin-bottom: 20px;
  }

}
