// В этом файле должны быть стили для БЭМ-блока checkout, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.checkout {

  $block-name:                &; // #{$block-name}__element

  &__part {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:last-child {
      border-bottom: none;
    }

    &--action {

    }
  }

  &__part-wrap {
    @include row;
  }
  &__part-col {
    @include col();
    @include col(md, 6);
    @include col(lg, 4);
  }
  &__part-col-2 {
    @include col();
    @include col(lg, 8);
  }

  &__part-title {
    font-size: 21px;
    font-weight: 500;

    @media (min-width: $screen-md) {
      font-size: 30px;
    }
  }

  &__part-toggle {
    display: flex;
    margin-bottom: 25px;
    a {
      text-decoration: none;
      color: #b9b9b9;
      border-bottom: 2px solid #b9b9b9;
      padding: 0.6em 0;
      flex-grow: 1;
      text-align: center;
      font-family: 'Rubik';
      font-size: 14px;

      @media (min-width: $screen-md) {
        font-size: 16px;
      }

      &.active {
        color: #000;
        border-color: $color-main;
      }
    }
  }

  &__amount {
    font-family: 'Rubik';
    margin-bottom: 15px;
  }

  &__amount-price {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      font-size: 36px;
    }
  }

  &__amount-unit {
    font-size: 16px;
    line-height: 1.3;
  }

}
