// В этом файле должны быть стили для БЭМ-блока checkout, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.checkout {

  $block-name:                &; // #{$block-name}__element

  &__part {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:last-child {
      border-bottom: none;
    }
  }

  &__part-wrap {
    @include row;
  }
  &__part-col {
    @include col();
    @include col(lg, 4);
  }
  &__part-col-2 {
    @include col();
    @include col(lg, 8);
  }

  &__part-title {
    font-size: 30px;
    font-weight: 500;
  }

  &__part-toggle {
    display: flex;
    margin-bottom: 25px;
    a {
      text-decoration: none;
      color: #b9b9b9;
      border-bottom: 2px solid #b9b9b9;
      padding: 0.6em 2em;
      font-family: 'Rubik';

      &.active {
        color: #000;
        border-color: $color-main;
      }
    }
  }

}
