// В этом файле должны быть стили только для БЭМ-блока search-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.search-form {

  $block-name:                &; // #{$block-name}__element

  margin: 0;
  padding: 0;
  height: 40px;

  &__input {
    margin: 0;
    padding: 0 40px 0 18px;
    border: 0;
    background: none;
    height: 100%;
    width: 220px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    border-color: $border-color;
    background-image: svg-load('../blocks/search-form/bg-img/search.svg');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 98% 50%;

    &::placeholder {
      color: #131c30;
      opacity: 1;
      font-size: 14px;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; /* stylelint-disable-line  property-no-vendor-prefix */
    }
  }

  &__btn {
    display: none;
  }

  &--catalog {
    display: flex;
    margin-bottom: 30px;
    background: #ededed;
    border-radius: 6px;

    #{$block-name}__input {
      flex-grow: 1;
      border: none;
      background-image: none;
      padding: 0.4em 1em;
      outline: none;
    }

    #{$block-name}__btn {
      display: block;
      min-width: 224px;
    }
  }
}
