// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-family--headings:       -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;

$font-size--h3:               1.5em !default;

$line-height:                 1.375em !default;

.form {

  $block-name:                &; // #{$block-name}__element

  &__fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: $line-height;
    }
  }

  &__legend {
    display: block;
    width: 100%;
    margin-top: $line-height;
    margin-bottom: ($line-height / 2);
    font-size: $font-size--h3;
    font-family: $font-family--headings;
    font-weight: 700;
    line-height: $line-height;
    color: currentColor;
  }

  &--basket-action {

    .btn {
      min-width: 225px;

      @media (max-width: $screen-sm) {
        min-width: 100%;
      }

      @media (min-width: $screen-xl) {
        min-width: 100%;
      }
    }

    .btn + .btn {
      margin-left: 10px;
    }
    .field-checkbox {
      margin-top: 20px;
    }
  }

  &--modal {
    .field-text,
    .field-select {
      margin-bottom: 1.7rem;
      font-size: 14px;
    }

    // .field-text__input--date {
    //   max-width: 167px;
    //   background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px'%3E%3Cpath fill-rule='evenodd' fill='rgb(191, 191, 191)' d='M5.000,2.500 C5.000,2.960 4.627,3.333 4.167,3.333 C3.706,3.333 3.333,2.960 3.333,2.500 L3.333,0.833 C3.333,0.373 3.706,-0.000 4.167,-0.000 C4.627,-0.000 5.000,0.373 5.000,0.833 L5.000,2.500 ZM16.667,0.833 C16.667,0.373 16.294,-0.000 15.833,-0.000 C15.373,-0.000 15.000,0.373 15.000,0.833 L15.000,2.500 C15.000,2.960 15.373,3.333 15.833,3.333 C16.294,3.333 16.667,2.960 16.667,2.500 L16.667,0.833 ZM18.333,6.666 L1.667,6.666 L1.667,18.333 L18.333,18.333 L18.333,6.666 ZM20.000,1.666 L20.000,20.000 L-0.000,20.000 L-0.000,1.666 L2.500,1.666 L2.500,2.500 C2.500,3.419 3.248,4.166 4.167,4.166 C5.085,4.166 5.833,3.419 5.833,2.500 L5.833,1.666 L14.166,1.666 L14.166,2.500 C14.166,3.419 14.914,4.166 15.833,4.166 C16.752,4.166 17.500,3.419 17.500,2.500 L17.500,1.666 L20.000,1.666 ZM6.666,8.333 L3.333,8.333 L3.333,11.667 L6.666,11.667 L6.666,8.333 ZM11.667,13.333 L8.333,13.333 L8.333,16.666 L11.667,16.666 L11.667,13.333 ZM6.666,13.333 L3.333,13.333 L3.333,16.666 L6.666,16.666 L6.666,13.333 ZM16.667,8.333 L13.333,8.333 L13.333,11.667 L16.667,11.667 L16.667,8.333 ZM11.667,8.333 L8.333,8.333 L8.333,11.667 L11.667,11.667 L11.667,8.333 ZM16.667,16.666 L13.333,16.666 L13.333,13.333 L16.667,13.333 L16.667,16.666 Z'/%3E%3C/svg%3E");
    //   background-repeat: no-repeat;
    //   background-position: right 15px center;
    //   background-size: 20px 20px;
    // }

    .field-text__input,
    .field-select__select {
      padding: 12px 17px;
      color: #12283c;
    }

    .field-actions {
      .btn {
        margin-bottom: 0;
        text-transform: none;
        padding: 12px 17px;
      }
    }
  }
}
